@import "tailwindcss";
@import '@vscode/codicons/dist/codicon.css';

@theme {
  --color-codemirror-default: #1a1d23;
  --color-codemirror-highlight: #2a313d;
  --color-codemirror-select: #3f4859;
  --color-codemirror-50: #f0f2f5;
  --color-codemirror-100: #d4d7dd;
  --color-codemirror-200: #b8bdc6;
  --color-codemirror-300: #8a9199;
  --color-codemirror-400: #5a6270;
  --color-codemirror-500: #282c34;
  --color-codemirror-600: #21252c;
  --color-codemirror-700: #1a1d23;
  --color-codemirror-800: #14171c;
  --color-codemirror-900: #0d0f12;
  --color-codemirror-950: #060708;
}

@layer components {
  .header-button {
    @apply
      bg-codemirror-700 hover:bg-codemirror-600
      text-codemirror-100
      px-3 py-2
      cursor-pointer
      select-none
    ;
  }

  .panel-menu-button {
    @apply
      bg-codemirror-700 hover:bg-codemirror-500
      text-codemirror-100
      px-1 pt-1
      rounded
      cursor-pointer
      select-none
    ;
  }

  .menu-layer {
    @apply
      z-9999
    ;
  }

  /* This is equivalent to px-?, handles the scrollbar width */
  .scrollbar-padding {
    scrollbar-gutter: stable both-edges;
  }

  .button {
    @apply
      bg-codemirror-600 hover:bg-codemirror-500
      border border-codemirror-500 rounded
      text-codemirror-100
      px-3 py-1
      cursor-pointer
      select-none
    ;
  }

  .pillbox {
    @apply
      bg-codemirror-highlight
      text-xs text-codemirror-300
      ml-2
      px-1
      rounded
      select-none
    ;
  }

  .footer-element {
    @apply
      flex flex-row items-center gap-1
      h-full px-2
      hover:bg-codemirror-highlight
      text-xs text-codemirror-200
      select-none
    ;
  }
  .footer-button {
    @apply
      cursor-pointer
    ;
  }
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-codemirror-700);
}

::-webkit-scrollbar-thumb {
  background: var(--color-codemirror-500);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-codemirror-highlight);
}

* {
  scrollbar-color: var(--color-codemirror-500) var(--color-codemirror-700);
  scrollbar-width: auto;
}
